body {
  background-color: #D9653B;
  color: black;
  text-align: center;
}

main {
   background-color: #D9653B;
}

header, footer {
  background-color: #8C494F;
  color: white;
}

nav {
  padding: 10px;
  background-color: #8C494F;
  }
nav a {
  color: #D9653B;
  text-decoration: none;
}
nav a:hover {
  background-color: #F2921D;
  color: white;
  font-size: larger;
  font-style: bold;
  padding: 5px;
  text-decoration: none;

}
